
h1 {text-align: center;
    color: blueviolet;
    font-size: 90px;
    background-color: blanchedalmond;
    }

header h2 {color: crimson;
    text-align: center;
    font-size: 100px;
    }

h3 {color:darkmagenta;
    text-align: center;
    }

em {color: crimson;
text-align: left;
    }

.imagenes { width: 200px; height: 200px;
            border-radius: 30%;
            position: relative;
            left: 30%;
            right: 30%;
            }
            
.logo {width: 130px; height: 130px;
    border-radius: 30%;
           }

header div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.otono {width: 130px; height: 130px;
    border-radius: 30%;
        }

section {
    grid-template-columns: repeat(3,1fr);
}

section div {
    display: flex;
}    

section div img{
    align-items: center;
    justify-content: center;
    display:flex;
    margin: 30px 30px;
    padding: 30px 30px;
    width: 30%; 
    border-radius: 30%;
    object-fit: cover; 
    grid-column: span 3;

       }

main .precios span {
    display: block;
}

@media screen and (min-width: 550px) {
    section {
        grid-template-columns: repeat(3,1fr);
    }

    section div img {
        grid-column: span 3;
    }
} 

